.bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    background-color:rgb(64, 64, 64);
}

/* .title */
.title > .container {   
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.90);
}

.title > .container > .row > .logo {
    width: 100px;
    height: 75px;
}

.title > .container > .row > .webtitle {
    margin: 20px;
    color: white;
}



/* .content */
.content > .container {
    background-color: rgba(0, 0, 0, 0.75);   
}

.content > .container > .row {
    margin-top: 20px;
}

/* .content .thumbnail */
.content > .container .thumbnail {
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}

.content > .container .thumbnail > .caption > .title,
.content > .container .thumbnail > .caption > .steamName {
    color: white;
    text-align: center;
}

/* .content .personal */
.content > .container .personal > .caption {

}

/* .content .server */
.content > .container .server > .caption > .map {
    color: white;
}

/* .content .gameimg */
.content > .container .gameimg {
    width: 100%;
    height: 350px;
}

/* .content .list-group */
.content > .container .list-group-item {
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}

.content > .container .list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
}

.content > .container .list-group-item-primary {
    color: #004085;
}

.content > .container .list-group-item-light {
    color: rgb(180, 180, 180);
}

/* .content .music */
.content > .container .music {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.75);
}

.content > .container .music > .media-left > i {
    font-size: 35px;
    color: white;
    margin-top: 10px;
}

.content > .container .music > .media-body > .media-heading {
    margin-bottom: 5px;
    color: white;
}
